
<div class="home">

<div class="container">
  <main>
  
    <div class="content">
      
      <h2>Build your career <br> with ICTAK</h2>
      <p>ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th  <br> of June, 2014. ICTAK has grown to a  prime <br> service provider of all ICT and innovation <br>related training and capacity-building programs<br> in the state.</p>
    <button>Get in Touch</button>
    </div>
    <div class="image">
      <img src="../../assets/images/tran1.jpg" alt="">
    </div> 
  </main>
    

  <h2>Current Openings</h2>
    <div class="cards">
      
      
     
      <div class="wrapper">
      <div class="box">
        <h2>Full Stack Developer</h2>
        <p>Cross-discipline web development skills involving front and back end.Take responsibility for the entire experience to make sure it goes smoothly</p>
        <a href="batch">Apply</a>
      </div><div class="box">
        <h2>DataScience And MachineLearning</h2>
        <p>earning is one of them. Data Science basically comprises various fields and techniques, like Statistics and Artificial Intelligence for Data Analysis to draw meaningful insights.</p>
        <a href="batch">Apply</a>
      </div>
      <div class="box">
        <h2>Digital Marketing</h2>
        <p>Become a Digital Marketing expert by specialising in Social Media and Content Marketing, Branding, Marketing Analytics and Public Relations. Start your Digital Marketing journey at Rs. 3,256 per month.</p>
        <a href="batch">Apply</a>
      </div>
    </div>
  
</div>

</div>
</div>
 
    
    
    

  

  
    











  
  












