<!-- <nav class="navbar navbar-expand-lg navbar-light my-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <nav class="navbar fixed-top navbar-light bg-dark justify-content-between">
        <img src="https://ictkerala.org/assets/images/cropped-ict-ico.png" class="responsive" width="100" height="70" alt=""  >
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand ml-5 text-uppercase" href="#">Admin</a>
      <form class="form-inline text-uppercase ms-auto mr-5">
        <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>&nbsp;
        <a routerLink="/book"  routerLinkActive="active-link">Batch Manager</a>&nbsp;
        <a routerLink="/addbook"routerLinkActive="active-link">NewBatch Manager</a>&nbsp;
        <a routerLink="/confirmcheck"  routerLinkActive="active-link">FormControls</a>&nbsp;
        <a routerLink=""  routerLinkActive="active-link">Signout</a>&nbsp;
      </form>
    </div>
  </nav> -->

  <nav class="navbar fixed-top navbar-light bg-dark justify-content-between">
    <img src="../../assets/images/ict.png" class="responsive" width="100" height="70" alt=""  >
    <a routerLink=""><h2>ADMIN</h2></a>
    
    <form class="form-inline">
    <a class="btn btn-outline-primary" id="BatchManager" routerLink="batch" target="" role="button">BatchManager</a>
    <!-- <a class="btn btn-outline-primary" id="newbatch" routerLink="new" target="" role="button">Newbatch Manager</a>  -->
    <a class="btn btn-outline-primary" id="newbatch" routerLink="new" target="" role="button">Newbatch Manager</a> 
    <a class="btn btn-outline-primary" id="formcontrol" routerLink="confirmcheck" target="" role="button">FormControl</a>
  
    <a class="btn btn-outline-primary" id="logout" routerLink="" target="" role="button">Logout</a>
</form>
</nav>